<div
  class="py-6 min-h-[40vh] max-w-[90%] mx-auto rounded-2xl px-4 border border-slate-300 my-8"
>
  <div
    class="flex flex-col sm:flex-row justify-around mx-auto items-center gap-6 py-6"
  >
    <!-- AWS Partner Logo -->
    <div class="h-[250px] w-[250px] flex justify-center items-center">
      <img
        src="assets/advanced-partner-Cz0AYbXs.svg"
        alt="AWS Advanced Partner"
        class="max-h-full max-w-full"
      />
    </div>

    <!-- Competencies List -->
    <div>
      <ul class="grid grid-cols-2 gap-3 text-slate-800 font-medium text-[15px] sm:text-[16px]">
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> MSSP Services Competency
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> DevOps Services Competency
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> Cloud Operations Services Competency
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> Media and Entertainment Competency
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> Education Services Competency
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> AWS WAF Delivery
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> Amazon DynamoDB Delivery
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> Solution Provider
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> Amazon CloudFront Delivery
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> Amazon RDS Delivery
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> Public Sector Solution Provider
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> AWS Marketplace Seller
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> Amazon EKS Delivery
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> AWS System Manager Partner
        </li>
        <li class="flex items-center gap-3">
          <span class="text-orange-600">●</span> AWS Config Delivery
        </li>
      </ul>
    </div>
  </div>
</div>
